* {
    scrollbar-width: thin;
    scrollbar-color: #3FC3D7 black;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background-color: #262626;
}

*::-webkit-scrollbar-thumb {
    background-color: #3FC3D7;
    border-radius: 20px;
    border: 3px solid #262626;
}